@import "tailwindcss";
@import "tw-animate-css";
*,
*::before,
*::after {
  box-sizing: border-box;
}

@theme {
  --font-family-primary: "Plus Jakarta Sans", sans-serif;
  /* Font Sizes */
  --text-xxs: 0.625rem; /* 10px */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.8125rem; /* 13px */
  --text-base: 0.875rem; /* 14px */
  --text-md: 1rem; /* 16px */
  --text-md2: 1.125rem; /* 18px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 1.875rem; /* 30px */
  --text-3xl: 2rem; /* 32px */
  --text-4xl: 2.5rem; /* 40px */
  --text-5xl: 3rem; /* 48px */
  --text-6xl: 3.5rem; /* 56px */
  --text-7xl: 4rem; /* 64px */

  /* Line Heights */
  --leading-tight: 1.25; /* Tight */
  --leading-snug: 1.375; /* Snug */
  --leading-normal: 1.5; /* Normal */
  --leading-relaxed: 1.625; /* Relaxed */
  --leading-loose: 2; /* Loose */

  /* Font Weights */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* Letter Spacing */
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;

  /* Colors */
  --color-custom-purple: rgba(125, 90, 226, 0.1);
  --color-primary-purple: #6945ed;
  --color-gray1: #5b5b5b;
  --color-gray2: #dadada;
  --color-black: #171923;
  --color-success1: #54c413;
  --color-success2: #54c4131a;
  --color-danger1: #e72626;
  --color-danger2: #e726261a;
  --color-warning1: #d9790a;
  --color-warning2: #d9790a1a;
  --color-light-blue: #e1e6ff;
  --color-light-pink: #ffe1f7;
  --color-light-purple: #7d5ae21a;

  /* borders */
  --border-1: 1px solid hsl(var(--border));
}
@layer base {
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
:root {
  font-family: var(--font-family-primary);
  font-size: 15px;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 480px) {
  :root {
    font-size: 17px; /* Tablets */
  }
}
.bg-gradient-radial {
  background: radial-gradient(
    96.66% 94.46% at 78.1% 9.62%,
    #6945ed 0%,
    #1e2d42 100%
  );
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 0%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --primary-purple: #6945ed;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 0%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --primary-purple: #6945ed;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
}
@layer components {
  /* Selected Day */
  .calendar button[aria-selected] {
    background-color: black !important;
    color: white !important;
    border-radius: 9999px;
  }

  /* Hover State */
  .calendar button:hover:not([disabled]):not([aria-selected]) {
    background-color: hsl(var(--muted));
    color: white;
  }

  /* Today */
  .calendar button[data-today] {
    font-weight: bold;
    color: hsl(var(--foreground));
  }

  /* Disabled Days */
  .calendar button[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
  }

  /* Day Buttons */
  .calendar button {
    cursor: pointer;
    transition: background-color 0.2s;
  }

  /* Navigation Buttons */
  .calendar .calendar-nav button {
    color: black;
  }
  .custom-command-item > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
  }
  .custom-command-item > div > div {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 4px 0px;
  }
}
